In [159]:
import pandas as pd
ratings_movies = pd.read_csv('data/ratings_movies.csv')
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [160]:
orders = pd.read_csv('data/orders.csv')
orders.head()

                                Дата создания;Order ID;ID Покупателя;Статус;Оплачен;Отменен;Отгружен;ID товара;Количество
09.11.2019 21:55:51;9;10;Принят                 ожидается оплата;Нет;Нет;Нет;103;5
09.11.2019 15:05:57;8;9;Принят                 ожидается оплата;Нет;Нет;Нет;86;100
09.11.2019 15:05:57;8;9;Принят                 ожидается оплата;Нет;Нет;Нет;104;10
09.11.2019 12:50:07;7;8;Принят                  ожидается оплата;Нет;Нет;Нет;104;7
09.11.2019 12:00:00;6;1;Принят                  ожидается оплата;Нет;Нет;Нет;104;5

In [162]:
products = pd.read_csv('data/products.csv')
products.head()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 7, saw 2

In [163]:
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [80]:
ratings_movies.columns.values

array(['Unnamed: 0', 'userId', 'movieId', 'rating', 'date', 'title',
       'genres'], dtype=object)

In [81]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
ratings_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [82]:
mask = ratings_movies['year_release'] == 1999
ratings_movies[mask].groupby('title')['rating'].mean().sort_values()

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

In [83]:
mask = ratings_movies['year_release'] == 2010
ratings_movies[mask].groupby('genres')['rating'].mean().sort_values()ratings_movies

SyntaxError: invalid syntax (Temp/ipykernel_16336/734752794.py, line 2)

In [84]:
ratings_movies.groupby('userId')['genres'].nunique().sort_values(ascending=False)

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

In [85]:
rrr = ratings_movies.groupby('userId')['rating'].agg(
    ['count', 'mean']).sort_values(by='count', ascending=True).sort_values(by='mean', ascending=False) 


rrr.head()

        count      mean
userId
53         20  5.000000
251        23  4.869565
515        26  4.846154
25         26  4.807692
30         34  4.735294

In [98]:
mask2 = ratings_movies['year_release'] == 2018
#mask2 = ratings_movies['year_release']
ratings_movies[mask2].groupby('genres')['rating'].agg(
    ['count'], ['mean']
    ).sort_values(by='count', ascending=False)

                                        count
genres
Action|Adventure|Sci-Fi                    14
Action|Comedy|Sci-Fi                       12
Comedy                                      8
Action|Adventure|Children|Sci-Fi            5
Animation|Comedy                            5
Drama|Horror|Thriller                       4
Action|Adventure|Animation|Children         4
Action|Adventure|Fantasy                    4
Adventure|Mystery|Sci-Fi|Thriller           3
Action|Adventure|Comedy|Fantasy|Sci-Fi      3
Action|Adventure|Thriller                   2
Action|Adventure|Drama|Sci-Fi|Thriller      2
Comedy|Drama                                2
Documentary                                 2
Action|Fantasy|Sci-Fi                       2
Horror|Mystery|Sci-Fi|Thriller              2
Comedy|Romance                              1
Drama|Fantasy|Thriller                      1
Crime|Drama                                 1
Crime|Drama|Mystery|Thriller                1
Horror|Mystery|Thriller                     1
Comedy|Fantasy|Sci-Fi                       1
Adventure|Comedy|Fantasy                    1
Comedy|Crime|Drama                          1
Adventure|Thriller                          1
Adventure|Children|Fantasy|Sci-Fi           1
Action|Mystery|Sci-Fi|Thriller              1
Action|Crime|Thriller                       1
Action|Crime|Drama|Thriller                 1
Action|Comedy|Crime|Horror                  1
Action|Comedy                               1
Action|Animation                            1
Sci-Fi|Thriller                             1

In [110]:
ratings_movies['year_rating'] = pd.to_datetime(ratings_movies['date']).apply(lambda x: x.year)

In [157]:
ratings_movies.groupby(['year_rating','genres'])['rating'].mean()

year_rating  genres
1996         Action                                             2.730769
             Action|Adventure                                   3.454545
             Action|Adventure|Animation|Horror|Sci-Fi           3.666667
             Action|Adventure|Children|Comedy|Fantasy|Sci-Fi    2.250000
             Action|Adventure|Comedy|Crime                      3.287500
                                                                  ...
2018         Sci-Fi                                             3.128571
             Sci-Fi|IMAX                                        3.500000
             Sci-Fi|Thriller                                    3.562500
             Thriller                                           3.296296
             Western                                            3.611111
Name: rating, Length: 9273, dtype: float64