In [3]:
import pandas as pd

In [22]:
bike = pd.read_csv('data/citibike-tripdata.csv', sep = ',')
bike.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [15]:
bike['start station id'].value_counts()

281.0     1928
2006.0    1909
519.0     1873
514.0     1845
426.0     1835
          ...
3432.0      15
3599.0      11
2005.0       9
3704.0       7
3583.0       6
Name: start station id, Length: 759, dtype: int64

In [17]:
bike['start station id'].describe()

count    299831.000000
mean       1695.665665
std        1458.264055
min          72.000000
25%         387.000000
50%         519.000000
75%        3282.000000
max        3705.000000
Name: start station id, dtype: float64

In [19]:
bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [24]:
print(bike['start station id'].mode())

0    281.0
dtype: float64

In [28]:
print(bike['bikeid'].shape[0])

300000

In [42]:
mode_usertype = bike['usertype'].mode()[0]
count_mode_user = bike[bike['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike.shape[0], 2))

0.77

In [36]:
male_count = bike[bike['gender'] == 1].shape[0]
female_count = bike[bike['gender'] == 0].shape[0]
print(male_count)
print(female_count)
print(max([male_count, female_count]))

183582
41912
183582

In [44]:
bike['age'] = 2018 - bike['birth year']
bike.drop(['birth year'], axis=1, inplace=True)
print(bike[bike['age'] > 60].shape[0])

11837

In [46]:
bike['starttime'] = pd.to_datetime(bike['starttime'])
bike['stoptime'] = pd.to_datetime(bike['stoptime'])
bike['trip duration'] = (bike['stoptime'] - bike['starttime']).dt.seconds
print(round(bike['trip duration'].mean(), 2))

999.91

In [47]:
weekday = bike['starttime'].dt.dayofweek
bike['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
bike['weekend'].sum()

115135

In [49]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'
bike['time_of_day'] = bike['starttime'].dt.hour.apply(get_time_of_day)
a = bike[bike['time_of_day'] == 'day'].shape[0]
b = bike[bike['time_of_day'] == 'night'].shape[0]
print(round(a / b))

9